body {
	background-color: black;
	border-style: double;
	border-color: lightgreen;
	margin: 30px;
	padding: 40px;
}

h1 {
	color: lightgreen;
	margin-left: 20px;
	font-style: italic;
}

p {
	color: lightgreen;
	margin-left: 20px;
	font-style: italic
}
