body {
	background-color: black;
	border-style: double;
	border-color: lightgreen;
	margin: 30px;
	padding: 30px;
}

h1, p, li, .info, h2{
	color: lightgreen;
	margin-left: 20px;
	font-style: italic;
}
